<div class="row">
  <div class="col-md-8">
    <h2>
      Header h2
    </h2>
    <p>
      This page allows you to recognize military vehicles on pictures and track them on videos.<br>
      Recognition results will be collected and then used to improve existing recognition models.<br>
    </p>
    <div>
      <div *ngIf="!files.length" class="col-12 rmpm dropzone" appDrag (files)="setDroppedPicture($event)">
        <div class="text-wrapper">
          <div class="centered">Drop your file here!</div>
        </div>
      </div>
      <!--droped image preview-->
      <div>
        <img *ngIf="files.length" [src]="files[0].url" class="uploaded-image-custom" #picture
             value="{{objectToRecognize.image}}">
      </div>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="isProcessingImage"></mat-progress-bar>
  </div>

  <div class="col-md-4">
    <p style="font-size: 0.9em; margin-top: 1em;">
      Firstly upload picture or video and select vehicle type.<br>
      Then press 'Upload Image' button and wait until recognition results appear.
      You can change vehicle type on the same image to get better results.<br>
      After that you can fill the form and save data to database.
    </p>
    <h5>DD (decimal degrees)*</h5>
    <form>
      <div class="form-row">
        <div class="col-md-4">
          <h5>Latitude:</h5>
        </div>
        <div class="col-md-6">
          <div class="form-row">
            <input type="text" class="form-control" id="inputLatitudeDeg" placeholder="48.079616" #lat
                   value="{{objectToRecognize.latitude}}">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">
          <h5>Longitude:</h5>
        </div>
        <div class="col-md-6">
          <div class="form-row">
            <input type="text" class="form-control" id="inputLongitudeDeg" placeholder="38.431955" #long
                   value="{{objectToRecognize.longitude}}">
          </div>
        </div>
      </div>
      <div class="form-group">
        <br><label for="descriptionTextArea">Enter description</label>
        <textarea class="form-control" id="descriptionTextArea" rows="2" placeholder="Description..." #desc
                  value="{{objectToRecognize.description}}"></textarea>
      </div>
      <div class="form-group">
        <label for="modelSelect">Select vehicle type</label>
        <select class="form-control" id="modelSelect">
          <option>Tank (custom model)</option>
          <option>Armored personnel carrier (custom model)</option>
          <option>Ship</option>
          <option>Plane or helicopter</option>
        </select>
      </div>
    </form>
    <button type="button" class="btn btn-primary" (click)="uploadPicture(files[0])">Upload Image</button>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="checkboxCorrect" checked
             [disabled]="saveButtonIsLocked">
      <label class="form-check-label" for="checkboxCorrect">Recognition is correct</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="checkboxIncorrect"
             [disabled]="saveButtonIsLocked">
      <label class="form-check-label" for="checkboxIncorrect">Recognition is incorrect</label>
    </div>

    <button type="button" class="btn btn-success" (click)="saveToDatabase(lat.value, long.value, desc.value, files[0])"
            [disabled]="saveButtonIsLocked">
      Save to database
    </button>
  </div>
</div>
