<p>recognizepage works!</p>
<div class="row">
  <div class="col-md-8">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus adipisci alias aperiam corporis facere
      fuga fugit magni maiores nam nesciunt placeat provident qui recusandae repellendus totam, vero. Aspernatur
      corporis cumque earum fugiat ipsum magni, minima reiciendis sequi? Doloribus eveniet quis repellendus sunt
      voluptate.
    </p>
    <div>
      <div *ngIf="!files.length" class="col-12 rmpm dropzone" appDrag (files)="filesDropped($event)">
        <div class="text-wrapper">
          <div class="centered">Drop your file here!</div>
        </div>
      </div>
      <!--droped image preview-->
      <div *ngFor="let file of files">
        <img *ngIf="file" [src]="file.url" class="uploaded-image-custom">
      </div>
    </div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="col-md-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam architecto corporis culpa cupiditate
      dolores earum eligendi eos error expedita facilis fugit harum in.</p>
    <h5>DD (decimal degrees)*</h5>
    <form>
      <div class="form-row">
        <div class="col-md-4">
          <h5>Latitude:</h5>
        </div>
        <div class="col-md-6">
          <div class="form-row">
            <input type="text" class="form-control" id="inputLatitudeDeg" placeholder="48.079616">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">
          <h5>Longitude:</h5>
        </div>
        <div class="col-md-6">
          <div class="form-row">
            <input type="text" class="form-control" id="inputLongitudeDeg" placeholder="38.431955">
          </div>
        </div>
      </div>
    </form>

    <button type="button" class="btn btn-primary" (click)="upload()">Upload Image</button>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="checkboxCorrect" checked disabled>
      <label class="form-check-label" for="checkboxCorrect">Recognition is correct</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="checkboxIncorrect" disabled>
      <label class="form-check-label" for="checkboxIncorrect">Recognition is incorrect</label>
    </div>

    <button type="button" class="btn btn-success" (click)="upload()" disabled>Save to database</button>
  </div>
</div>
