<p>mainpage works!</p>
<div class="row">
  <div class="col-md-10 offset-md-1">
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda impedit ipsam officiis provident quidem!
      Aliquam aperiam deleniti dignissimos eos ex facilis nemo praesentium sit veniam voluptatibus? Aperiam cum
      recusandae voluptates?</h2>
    <div id="demo" class="carousel slide" data-ride="carousel" data-interval="3000">
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item " *ngFor="let element of pictures; let index = index;
                                    let isFirst = first" [ngClass]="{active:isFirst}">
          <div class="d-flex justify-content-center carousel-custom-element">
            <img [src]= "'https://res.cloudinary.com/ddmivk4av/' + element.image">
          </div>
        </div>
      </div>
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda commodi corporis delectus dolore ducimus
      eos, error, fuga ipsam laboriosam officia omnis perferendis, quam quasi quod recusandae repellat saepe sed?</p>
    <video width="400" controls class="video-custom">
      <source src="https://res.cloudinary.com/ddmivk4av/video/upload/v1615053842/video.mp4" type="video/mp4">
      Your browser does not support HTML video.
    </video>
  </div>
</div>
