<div class="row">
  <div class="col-md-10 offset-md-1">
    <h2 style="text-align: center">
      Unusual objects? Don't worry, we will find them all!
     </h2>
    <p style="font-size: 1.3em">
      This project is oriented on object detecting in images and tracking them on videos.
      <br>
      Its main feature is that it uses custom made models and works with complex tasks
      caused by unusual objects and special detection conditions.
    </p>
    <div id="demo" class="carousel slide" data-ride="carousel" data-interval="3000">
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item " *ngFor="let element of pictures; let index = index;
                                    let isFirst = first" [ngClass]="{active:isFirst}">
          <div class="d-flex justify-content-center carousel-custom-element">
            <img [src]= "this.api.baseUrl + '/' + element.image">
          </div>
        </div>
      </div>
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <p style="font-size: 1.3em">
      Unlike other services we will make every client feel special by providing them our best solutions.
      <br>
      Here you can see how our program works with detection and tracking such complicated objects as tanks and
      armoured personnel carriers.
      </p>
    <video width="400" controls class="video-custom">
      <source src="https://res.cloudinary.com/ddmivk4av/video/upload/v1615053842/video.mp4" type="video/mp4">
      Your browser does not support HTML video.
    </video>
  </div>
</div>
